.footer-page {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: autoShowScroll;
    animation-timeline: view(90% auto);
  }
  
  .footer-section {
    flex: 1;
    padding: 10px 20px;
    min-width: 200px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .footer-section p,
  .footer-section a {
    margin: 5px 0;
    color: #ddd;
    text-decoration: none;
  }
  .footer-section div{
    padding: 3px;
  }
  .footer-section a:hover {
    color: #fff;
  }
  .smlinks{
    justify-items: center;
  }
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
  }
  @keyframes autoShowScroll {
    from{
  opacity: 0;
  transform: translateY(200px) scale(0.3);
    }to{
      opacity: 1;
      transform: translateY(0) scale(1);
  
    }
  }