.feed {
  padding: 20px;
  background-color: #f0f4f0; /* Light green background */
  display: grid;
  grid-template-columns: repeat(3, 350px); /* 3 kolone sa fiksnom širinom od 350px */
  gap: 20px; /* Razmak između kartica */
  justify-content: center; /* Centriranje kartica horizontalno */
  padding: 20px;
  font-weight: bo;

}.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #45a049;
}


.feed .post h2 {
  color: #4CAF50; /* Green title */
}

@media (max-width: 1135px) {
  .feed {
    grid-template-columns: repeat(2,350px); /* Jedan post po redu na manjim ekranima */
  }
}
@media (max-width: 768px) {
  .feed {
    grid-template-columns: 1fr; /* Jedan post po redu na manjim ekranima */
  }
}